In [50]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

#Add code to each of the libraries/dependencies

In [67]:
# Load in data
df = pd.read_csv("Resources/divorce.csv")

# Display the DataFrame
df.head()

,Couple#,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,...,silence_for_harm,silence_fear_anger,I'm_right,accusations,I'm_not_guilty,I'm_not_wrong,no_hesitancy_inadequate,you're_inadequate,incompetence,Divorce_Y_N
0,1,2,2,4,1,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,2,4,4,4,4,4,0,0,4,4,...,2,2,3,4,4,4,4,2,2,1
2,3,2,2,2,2,1,3,2,1,1,...,3,2,3,1,1,1,2,2,2,1
3,4,3,2,3,2,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,5,2,2,1,1,1,1,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [75]:
# Show the total number of divorces and non-divorce outcomes
df['Divorce_Y_N'].value_counts()

Divorce_Y_N
0    86
1    84
Name: count, dtype: int64

In [73]:
# Drop all repeative columns
# Clean data
new_df = df.copy()
new_df = new_df.iloc[:, [0, 1, 6, 7, 10, 12, 13, 16, 18, 20, 24, 28, 29, 30, 31, 32, 38, 46, 47, 48, 52, 54, 55]]
new_df.columns

Index(['Couple#', 'Sorry_end', 'No_home_time', '2_strangers', 'common_goals',
       'freeom_value', 'entertain', 'love', 'marriage', 'trust', 'stresses',
       'hopes_wishes', 'know_well', 'friends_social', 'Aggro_argue',
       'Always_never', 'hate_subjects', 'silence_for_harm',
       'silence_fear_anger', 'I'm_right', 'no_hesitancy_inadequate',
       'incompetence', 'Divorce_Y_N'],
      dtype='object')

In [74]:
#Visualization of data
new_df.head(20)

,Couple#,Sorry_end,No_home_time,2_strangers,common_goals,freeom_value,entertain,love,marriage,trust,...,friends_social,Aggro_argue,Always_never,hate_subjects,silence_for_harm,silence_fear_anger,I'm_right,no_hesitancy_inadequate,incompetence,Divorce_Y_N
0,1,2,0,0,0,0,1,1,0,1,...,1,1,2,1,2,1,3,3,1,1
1,2,4,0,0,4,3,4,4,4,2,...,1,0,4,4,2,2,3,4,2,1
2,3,2,3,2,2,4,2,3,3,2,...,2,3,3,1,3,2,3,2,2,1
3,4,3,3,3,3,3,3,3,3,4,...,3,2,3,3,2,2,3,2,2,1
4,5,2,1,0,0,1,0,1,1,1,...,1,1,1,0,2,1,2,2,0,1
5,6,0,2,0,1,2,1,0,1,1,...,0,4,1,2,2,2,1,1,0,1
6,7,3,3,4,2,2,2,3,3,2,...,2,1,2,2,3,2,3,2,2,1
7,8,2,1,0,2,3,2,3,3,1,...,3,1,1,4,0,1,2,1,0,1
8,9,2,4,1,3,3,3,3,3,3,...,3,1,1,2,1,1,1,1,1,1
9,10,1,2,0,2,0,0,0,2,0,...,1,1,1,1,2,0,2,4,3,1
10,11,4,0,0,3,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,1
11,12,4,0,0,3,4,4,3,4,4,...,4,4,4,4,4,4,4,4,4,1
12,13,3,0,1,4,4,3,4,4,4,...,4,4,4,4,4,4,4,4,4,1
13,14,3,0,1,4,4,3,4,4,4,...,4,4,4,4,4,4,4,4,4,1
14,15,3,0,1,4,4,3,4,4,4,...,4,4,4,4,4,4,4,4,4,1
15,16,4,0,0,2,4,4,2,4,4,...,4,4,4,4,4,4,4,4,4,1
16,17,4,0,0,2,4,4,2,4,4,...,4,4,4,4,4,4,4,4,4,1
17,18,4,0,0,3,4,4,3,4,4,...,4,4,3,3,3,4,3,4,4,1
18,19,3,1,1,4,3,3,4,3,3,...,3,4,4,4,4,4,4,4,4,1
19,20,4,0,0,3,4,4,3,4,4,...,4,4,3,3,3,4,3,4,4,1

In [ ]:
# Drop the label to create the X data

X = new_df.drop("Divorce_Y_N", axis=1)
X

In [ ]:
# Create the y set from the "Divorce_Y_N" column

y = df["Divorce_Y_N"]
y

In [ ]:
#boxplot - al
plt.figure(figsize=( 10 , 5 )) 
sns.boxplot(x= 'Class' , y=feature, data=new_df) 
plt.title( f'Boxplot of {feature} by Class' ) 
plt.show()

In [ ]:
#pairplot - al
sns.pairplot(df, hue= 'Class' ) 
plt.title( 'Pairplot of Features' ) 
plt.show()

In [ ]:
#scatterplot - eb
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='Atr1', y='Atr2', hue='Class', palette='coolwarm')
plt.title('Scatterplot of Atr1 vs Atr2')
plt.xlabel('Atr1')
plt.ylabel('Atr2')
plt.legend(title='Class')
plt.show()

In [ ]:
# highest to lowest -ca
#correlation data
corr = df.corr()['Divorce_Y_N'].drop('Divorce_Y_N')
sort_corr=corr.abs().sort_values(ascending=False)[:20]
sort_corr
corr=df[common].corr()
sns.set(rc={'figure.figsize':(10,4)})
p=sns.heatmap(corr,
        xticklabels=corr.columns,
        yticklabels=corr.columns,
        cmap="plasma")
p.axes.set_title("\nTop 6 Features Corelation Analysis\n",fontsize=20);

In [ ]:
#coorelation / bar chart - Ca
# show bar to compare correlation
sns.barplot(x=sort_corr.index, y=sort_corr)
plt.xticks(rotation=90)
plt.xlabel('Features')
plt.ylabel('Absolute Correlation')
plt.show()

In [ ]:
# Split the data into training and testing sets using random_state=1

X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=1)

In [ ]:
# Scale the X data by using StandardScaler()

Scaler = StandardScaler().fit(X_train)
X_train_scale = Scaler.transform(X_train)
X_train_scale

In [ ]:
# Transform the test dataset based on the fit from the training dataset

X_test_scale = Scaler.transform(X_test)
X_test_scale

In [ ]:
# Create the logistic regression classifier model with a random_state of 1
lr_model = LogisticRegression()

# Fit the model to the training data
lr_model.fit(X_train_scale, y_train)

In [ ]:
#K_nearest_neighbors - eb
neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(X_train, Y_train)
KNeighborsClassifier(n_neighbors=2)
Y_pred = neigh.predict(X_test)

In [ ]:
# Create the decision tree classifier model
dt_model = DecisionTreeClassifier()

# Fit the model to the training data
dt_model.fit(X_train_scale, y_train)

In [ ]:
# Create a decision tree graph (exercise 13/3/2) - al

In [ ]:
# Create the random forest classifier model
# with n_estimators=128 and random_state=1
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

# Fit the model to the training data
rf_model.fit(X_train_scale, y_train)

In [ ]:
#heatmap - eb
sns.set(rc={'figure.figsize':(20,10)})
p = sns.heatmap(corr,
               xticklabels=corr.columns,
               yticklabels=corr.columns,
               cmap="YlGnBu", annot=True)
p=p.axes.set_title("Correlation across the first set of eleven 11 features",fontsize=20)

In [ ]:
#histogram - eb
features_full={"marriage": "My spouse and I have similar ideas about how marriage 
should be", "idk_what's_going_on" : "We're just starting a discussion before I know 
what's going on.","trust" : "My spouse and I have similar values in trust.","anxieties" : "I 
know my spouse's basic anxieties"}
dfx=df.copy()
dfx["Divorce_Y_N"].replace({0: "Divorced", 1: "Not Divorced"}, inplace=True)
sns.set(rc={'figure.figsize':(24,8)})
plt.subplots_adjust(hspace = 0.4)
for i, column in enumerate(common, 1):
    plt.subplot(1,3,i)
    
p=sns.histplot(x=column,data=dfx,hue="Divorce_Y_N",stat='count',kde=True,palette='
winter')
    p.axes.set_title("\n"+str(features_full[column])+"\n",fontsize=15);

In [ ]:
# Validate the model by checking the model accuracy with model.score
print(f"Training Accuracy: {rf_model.score(X_train_scale, y_train)}")
print(f"Testing Accuracy: {rf_model.score(X_test_scale, y_test)}")

print(f"Training Accuracy: {dt_model.score(X_train_scale, y_train)}")
print(f"Testing Accuracy: {dt_model.score(X_test_scale, y_test)}")

print(f"Training Accuracy: {lr_model.score(X_train_scale, y_train)}")
print(f"Testing Accuracy: {lr_model.score(X_test_scale, y_test)}")

#update

In [ ]:
# Create a classification report (exercises w/metrics) basic stats from proj 1
classification.plot_model(tuned_lr, plot="feature")

In [ ]:
# Predict values with probabilities - on classifications (ch 13/&&**)